.page-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map iframe {
  height: 350px;
}

#artist-img {
  height: 450px;
  width: auto;
}


@media (max-width: 768px) {
  #map iframe {
    height: 250px;
  }

  #artist-img {
    height: 400px;
    width: auto;
  }

  .links a {
    color: white;
  }

  #info {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #map iframe {
    height: 200px;
  }

  #artist-img {
    height: 300px;
    width: auto;
  }
}