.page-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#artist h1 {
  margin-top: 4px;
  font-size: xx-large;
}

#pages li {
  font-family: 'Staatliches', cursive;
}

#pages h2 {
  font-size: xx-large;
}

#map iframe {
  height: 350px;
}

.links a {
  color: white;
  font-family: 'Staatliches', cursive;
}

#artist-img {
  height: 450px;
  width: auto;
}


@media (max-width: 768px) {
  #map iframe {
    height: 250px;
  }

  #artist-img {
    height: 400px;
    width: auto;
  }



  #info {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #map iframe {
    height: 200px;
  }

  #artist-img {
    height: 300px;
    width: auto;
  }
}